@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body {
    font-family: 'Inder', sans-serif !important;
    text-transform: none !important;
    color: #FFFFFF;
}

.v-container {
    color: #FFFFFF;
}

.greyButton {
    background-color: #6c757d !important;
    color: #FFFFFF !important;
}

.blueButton {
    background-color: #1279C1 !important;
    color: #FFFFFF !important;
}