@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body {
    font-family: 'Inder', sans-serif !important;
    text-transform: none !important;
    color: #FFFFFF !important;
    background: url('../js/images/Fondos/fondo4.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
}

.v-container {
    color: #FFFFFF;
}

.v-field--center-affix .v-label.v-field-label {
    color: #1279C1;
    font-weight: bold;
}

.v-btn{
    text-transform: none !important;
}
.v-card-title {
    overflow:visible !important;
    white-space: normal !important;
}

.greyButton {
    background-color: #6c757d !important;
    color: #FFFFFF !important;
}

.blueButton {
    background-color: #1279C1 !important;
    color: #FFFFFF !important;
}

.item-texto {
    white-space: normal !important;
}

.custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.busquedaStyle {
    background-color: #303134 !important;
    color: #FFFFFF !important;
}

.gap-10{
    gap: 10px;
}
